@font-face {
    font-family:RobotoBlack;
    src:url(Roboto-Black.ttf);
}

@font-face {
    font-family:RobotoBlackItalic;
    src:url(Roboto-BlackItalic.ttf);
}

@font-face {
    font-family:RobotoBoldItalic;
    src:url(Roboto-BoldItalic.ttf);
}

@font-face {
    font-family:RobotoItalic;
    src:url(Roboto-Italic.ttf);
}

@font-face {
    font-family:RobotoLight;
    src:url(Roboto-Light.ttf);
}

@font-face {
    font-family:RobotoLightItalic;
    src:url(Roboto-LightItalic.ttf);
}

@font-face {
    font-family:RobotoMedium;
    src:url(Roboto-Medium.ttf);
}

@font-face {
    font-family:RobotoMediumItalic;
    src:url(Roboto-MediumItalic.ttf);
}

@font-face {
    font-family:RobotoRegular;
    src:url(Roboto-Regular.ttf);
}

@font-face {
    font-family:RobotoThin;
    src:url(Roboto-Thin.ttf);
}

@font-face {
    font-family:RobotoThinItalic;
    src:url(Roboto-ThinItalic.ttf);
}